.commands {
    /* background-color: skyblue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(10, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 0.3fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 0;
    justify-content: center;
    height: 100%;
    font-size: calc(8px + 2vmin);
    align-self: center;
    font-weight: 400;
}

.commandContainer {
    cursor: pointer;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-self: center; /* centrar en el medio del bloque */
}

.joke {
    background-color: #fff200;
    grid-column: span 3;
    text-align: center;
    color: #3d3d3d;
    justify-content: center;
    align-self: center; 
}

.centerCommand {
    display: grid;
    /* grid-gap: 1rem; */
}

.centerCommand > div {
    padding: 0px;
}

.flipCenter {
    display: grid;
}